<%- include("partials/_header") %>

    <form class="main" action="#" method="get" onsubmit="generatePass(event)">
        <input type="text" class="textbox">
        <div>
            <input type="range" name="lenght" class="lenght" max="25" min="8" oninput="updateLengthDisplay()" value="8">
            <span class="lenght-display ms-2">8</span>
        </div>
        <div class="mb-2">
            <input type="checkbox" name="numbers"> Numaralar <br>
            <input type="checkbox" name="symbols"> Semboller <br>
            <input type="checkbox" name="bigletters"> Büyük Harfler <br>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Oluştur</button>
            <button type="button" class="btn btn-success" onclick="savePassword(textBox.value)">Şifreyi Kaydet</button>
        </div>
    </form>

    <div class="passwords">
        <h2>Şifreler</h2>
        <ul id="password-list"></ul>
        <button class="btn btn-danger" onclick="passwordsClear()">Temizle</button>
    </div>

<%- include("partials/_footer") %>