*{
    z-index: 0;
}

body{
    background: var(--bs-light);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: var(--bs-white);
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .3);
}

.main .textbox{
    width: 100%;
}

.passwords{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 450px;
    padding: 30px;
    height: fit-content;
    background: var(--bs-white);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .3);
}

.passwords li{
    list-style: none;
}

.passwords .btn-danger{
    position: absolute;
    top: 30px;
    right: 30px;
}